NEXT_PUBLIC_APP_RPC_ADDRESS="https://rpc.constantine-1.archway.tech:443"
NEXT_PUBLIC_APP_CONTRACT_ADDRESS="archway1r3gfdwv8xe9drtwaxq6t5ek32huezdeavyxpf0"
NEXT_PUBLIC_APP_ACCOUNT_ADDRESS=""
NEXT_PUBLIC_APP_ACCOUNT_MNEMONIC=""

NEXT_PUBLIC_APP_PINATA_API_KEY=""
NEXT_PUBLIC_APP_PINATA_SECRET_API_KEY=""
NEXT_PUBLIC_APP_PINATA_API_URL="https://api.pinata.cloud/pinning/pinFileToIPFS"