@media (max-width: 893px) {
  /*  Small  */
  .divCenter {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 893px) {
  /* Medium size devices */
  .divCenter {
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (min-width: 1200px) {
  /* Large */
  .divCenter {
    padding-top: 50px;
    padding-left: 400px;
    padding-right: 400px;
  }
}

.flexy {
  display: flex;
  justify-content: center;
  margin: 0px 5px 0px 5px;
}

.divPadding {
  padding-bottom: 25px;
}
